name: Build
on:
  push:
    branches:
      - main
  pull_request:
    paths-ignore:
      - "**/*.md"
jobs:
  build:
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v5
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable
      - name: Build SDK
        run: make buildSdk
