name: Build Examples
on:
  push:
  pull_request:
    paths-ignore:
      - "**/*.md"
jobs:
  build:
    runs-on: macos-13
    steps:
      - uses: actions/checkout@v4
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: '15.0'
      - name: Build Example
        run: make buildExample
