name: Build
on:
  push:
    branches:
      - main
  pull_request:
    paths-ignore:
      - "**/*.md"

permissions:
  contents: read

jobs:
  build:
    runs-on: macos-15-xlarge
    steps:
      - uses: actions/checkout@v6
      - uses: maxim-lobanov/setup-xcode@60606e260d2fc5762a71e64e74b2174e8ea3c8bd # v1.6.0
        with:
          xcode-version: latest-stable
      - name: Build SDK
        run: make buildSdk
