name: Lint
on:
  push:
    branches:
      - main
  pull_request:
    paths-ignore:
      - "**/*.md"

permissions:
  contents: read

jobs:
  lint:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v6

      - name: Bootstrap
        run: make bootstrap

      - name: Run lints
        run: make lint
