name: Tests
on:
  push:
  pull_request:
    paths-ignore:
      - "**/*.md"
jobs:
  test:
    runs-on: macos-13
    steps:
      - uses: actions/checkout@v4
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: '15.0'
      - name: Test SDK
        run: make test
