name: Tests
on:
  push:
    branches:
      - main
  pull_request:
    paths-ignore:
      - "**/*.md"
jobs:
  test:
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v6
      - uses: maxim-lobanov/setup-xcode@60606e260d2fc5762a71e64e74b2174e8ea3c8bd # v1.6.0
        with:
          xcode-version: latest-stable
      - name: Test SDK
        run: make test